/* Estilos personalizados para la página de inicio */
body {
    background-color: #7e7d7db6;
    font-family: Arial, sans-serif;
}
.bodylogin {
   
    background-image: url("../images/fondologin.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-content {
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.carousel-inner img {
    height:min-content ; /* Altura fija para las imágenes del carrusel */
    object-fit: cover; /* Recorta la imagen para que encaje en el contenedor */
    border-radius: 8px;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-lg {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .btn-lg {
        width: auto;
        margin-right: 10px;
    }
}
